.login {
  text-align: right;
  padding-top: 2%; 
}

.btn_login {
	-moz-box-shadow: -1px 6px 7px 1px #3dc21b;
	-webkit-box-shadow: -1px 6px 7px 1px #3dc21b;
	box-shadow: -1px 6px 7px 1px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-style:italic;
	padding:9px 25px;
	text-decoration:none;
	text-shadow:0px -2px 0px #2f6627;
}
.btn_login:hover {
	background-color:#5cbf2a;
}
.btn_login:active {
	position:relative;
	top:1px;
}

.logo_empresa{
	width: 100%;
	height: 30%;
	margin-bottom: 2%;
}

.btn_ver {
	background-color:white;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:3px solid #2CA9F6;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:21px;
	font-style:italic;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}

.container-tarjeta{
	margin-right: 5%;
	border: 3px solid #000;
	height: 100%;
	border-radius: 5%;
}
